/**===========================================================================
   FONT VARIABLES
===========================================================================**/
$arial: "Arial", sans-serif;

/**===========================================================================
   COLOR VARIABLES
===========================================================================**/

/* Blues */
$blue_0: #2F4073;
$blue_1: #7986AC;
$blue_2: #50608F;
$blue_3: #162656;
$blue_4: #061339;

/*  Yellows */
$yellow_0: #AA9839;
$yellow_1: #FFF2AA;
$yellow_2: #D4C46A;
$yellow_3: #806F15;
$yellow_4: #554800;

/* Tan/orange */
$orange_0: #AA6F39;
$orange_1: #FFD3AA;
$orange_2: #D49D6A;
$orange_3: #804815;
$orange_4: #552900;