/**===========================================================================
	STANDARD CLASSES - NOT NEEDED
===========================================================================**/
@import "var";
@import "standard";

.hidden {
	display: none;
}

/**===========================================================================
	PAGE SETUP
===========================================================================**/
* {
	margin: 0;
	padding: 0;
}
header {
	h1 {
		text-align: center;
	}
}

section{
	&.block {
		padding: 25px 0;
	}
	a {
		color: $yellow_2;
	}
	&.odd {
		background: $blue_0;
		.text {
			float: left;
		}
		.code {
			float: right;
			text-align: left;
			pre {
				border-radius: 4px;
				box-shadow: inset 0px 0px 10px $yellow_4;
				background: $yellow_3;
				width: 100%;
			}
		}
	}
	&.even {
		background: $blue_1;
		.text {
			float: right;
			text-align: right;
		}
		.code {
			float: left;
			pre {
				border-radius: 4px;
				box-shadow: inset 0px 0px 10px $yellow_4;
				background: $yellow_3;
				width: 100%;
			}
		}
	}
}

/**===========================================================================
	SELECT_IT
===========================================================================**/

.select_it {
	width: 80%;
	margin: 0 10% 25px;
	float: left;
	.select_it_box {
		background: #FFFFFF;
		width: 90%;
		padding: 5%;
		color: #666666;
		cursor: pointer;
		.displayed {

		}
		.tab {

		}
	}
	ul {
		background: #FFFFFF;
		width: 100%;
		margin: 0;
		padding: 0;
		color: #666666;
		list-style: none inside none;
		li {
			width: 90%;
			padding: 0 5%;
			cursor: pointer;
			&:hover {
				background: #666666;
				color: #FFFFFF;
			}
		}
	}
}

/**===========================================================================
	OVERLAY_IT
===========================================================================**/
.overlay_it_container {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('../images/opacity_bg.png') repeat;
	.overlay_it_box {
		background: #FFFFFF;
		position: absolute;
		padding: 15px;
		top: 15%;
		width: auto;
		left: 10%;
		right: 10%;
		bottom: 15%;
		border-radius: 4px;
		min-width: 300px;
		min-height: 150px;
		overflow: hidden;
		.close {
			position: absolute;
			top: 0;
			right: 0;
			border: 1px solid #000000;
		}
		.body {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			.newsletter_template {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				.sidebar {
					background: #AA9839;
					position: absolute;
					padding: 25px;
					box-sizing: border-box;
					top: 0;
					left: 0;
					bottom: 0;
					text-align: center;
					overflow: scroll;
					h1 {
						text-align: center;
					}
					.add_new {
						display: inline-block;
						zoom: 1;
						*display: inline;
						margin: 0 auto 25px;
					}
					.select_it {
					}
				}
				.template_view {
					background: #AA6F39;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					overflow: scroll;
					table {
						margin: 0 auto;
					}
				}
			}
		}
	}
}
/**===========================================================================
	GENERIC SETUP
===========================================================================**/
/*
body {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.newsletter_template {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.sidebar {
		background: #AA9839;
		position: fixed;
		padding: 25px 0;
		top: 0;
		left: 0;
		bottom: 0;
		text-align: center;
		h1 {
			text-align: center;
		}
		.add_new {
			display: inline-block;
			zoom: 1;
			*display: inline;
			margin: 0 auto;
		}
	}
	.template_view {
		background: #AA6F39;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: scroll;
	}
}
*/