/**===========================================================================
	PAGE SETUP
===========================================================================**/
section.block { padding: 4em 0; min-height: 300px; }
section.block {
	&.odd { background: $teal3; color: $green1; }
	&.odd {
		a { color: $green1; }
		.content { float: left; }
		.code { float: right; text-align: left; }
		.code pre {
			border-radius: 4px;
			box-shadow: inset 0px 0px 10px $green2;
			background: $green3;
			width: 100%;
		}
	}
	&.even { background: $teal2; color: $green1; }
	&.even {
		a { color: $green1; }
		.content { float: right; text-align: right; }
		.code { float: left; }
		.code pre {
			border-radius: 4px;
			box-shadow: inset 0px 0px 10px $green2;
			background: $green3;
			width: 100%;
		}
	}
	.content {
		.details { padding: 2em 0 0; }
		.button { color: $green5; }
		.button:hover { color: $green1; };
	}
	.code {
		pre { padding: 1em; }
		.select_it { margin: 0 0 2em; }
	}
}