/*===========================================================================================
	HEADER
===========================================================================================*/
header { position: fixed; top: 0; left: 0; right: 0; z-index: 99999; background: $light_black; color: $teal1; padding: 1em 0; box-shadow: 0px 0px 10px $black; overflow: visible !important; }
header {
	//h1 { @include font( 2em, 1.2em, $os, $osb, $osi, $osib ); margin: 0; width: 80%; float: left; }
	.logo { max-width: 150px; width: 80%; position: absolute; top: -50px; }
	.logo img { @include resp_image; }
	a { color: $teal1; }
	.menu_toggle { width: 20%; float: right; text-align: right; font: 2em/1.2em $fa; cursor: pointer; }
}