/*===========================================================================================
	HEADER
===========================================================================================*/
header { position: fixed; top: 0; left: 0; right: 0; background: $light_black; color: $teal1; padding: 1em 0; box-shadow: 0px 0px 10px $black; }
header {
	h1 { @include font( 2em, 1.2em, $os, $osb, $osi, $osib ); margin: 0; width: 80%; float: left; }
	.menu_toggle { width: 20%; float: right; text-align: right; font: 2em/1.2em $fa; }
}