.site-footer {
    background-color: #282c34;
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
    padding: 8vmax ​1.25rem;
    nav {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    nav a {
        color: white;
        font-weight: bold;
        margin-top: 1rem;
        &:first-child {
            margin-top: 0;
        }
    }
}